div#signup.success
	div.message
		h1.title Thank You
		span.copy for signing up to be a dealer.
	span.underline
	div.message
		h2.title Next Steps
		span.copy Download and submit the credit application
		span.caption (approval may take up to 3 business days upon receiving).
		div.links
			a.link( href="http://images.visionwheel.com/images/categories/highres/VW%20Company%20Credit%20App%20-%20full.pdf" target="_blank" ) Dealer Credit Application
			a.link(  href="http://images.visionwheel.com/images/categories/highres/VW%20QUICK%20CREDIT%20APP.pdf" target="_blank" ) Dealer Quick Credit Application
	span.underline
	div.message
		h3.title In The Meantime
		span.copy Use your login credentials to explore the dealer website.
	a.button( href="/" ) Login And Begin Exploring