.main {
  @include clearfix;
  padding: 40px;
}
body {
  &.user {
    .header__nav,
    .header__search,
    .footer__support-links,
    .footer__menu-links {
      display: none;
    }
    .header__utility {
      text-align: center;
      .logo {
        float: none;
        display: inline-block;
      }
    }
    .footer__menu {
      text-align: center;
      .logo {
        float: none;
        display: inline-block;
      }
    }
    .footer__support {
      text-align: center;
      &-extra {
        float: none;
        text-align: center;
        display: inline-block;
      }
    }
    .main {
      text-align: center;
    }
  }
}
