@import "./common.scss";

#wrapper {
	padding: 5rem 0 0 0;
}
header {
	border-bottom: 2px solid grey;
	height: 5rem;
	padding: 0.5rem 0;
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	z-index: 1;

	.logo {
		background-image: url( "./VWheelLogo-Gray-01.svg" );
		background-position: center center;
		background-repeat: no-repeat;
		background-size: contain;
		display: block;
		height: 4rem;
		width: 100%;
	}
}
.error {
	margin-top: 0 auto;
	font-size: 1rem;
	text-align: center;
	&h2 {
		color:$red;
	}
}
#login {
	padding: 3rem 1rem;
	width: 100%;
}
.headline {
	padding: 1rem 0;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

form {
	margin: 0 auto;
	max-width: 700px;
	width: 100%;
	
	.fields {
		width: 100%;

		.field {
			margin: 0.5rem 0 0 0;
			width: 100%;

			&:first-child {
				margin: 0 0 0 0;
			}
		}
	}
	.links {
		margin: 0.5rem 0 0 0;
		overflow: hidden;
		width: 100%;

		.link {
			color: red;
			text-decoration: underline;

			&.forgot-password {
				float: left;
			}
			&.signup {
				float: right;
			}
		}
	}
	.submit {
		margin: 2rem 0 0 0;
	}
	&.has-error {

		.fields {

			.field {
				border: 2px solid red;
			}
		}
	}
}