@import "./common.scss";
.usersContainer {
	max-width: $desktop;
	margin: 0 auto 50px;

	.message {
		text-align: center;
		background-color: #deffde;
		padding: 10px;
		font-size: 13px;
	}
	.wrap {
		width: 600px;
		margin: 0 auto;
		max-width: 100%;
	}
	.submit {
		padding-top: 30px; // text-align:center;
		button {
			float: left;
			margin-right: 20px;
		}
		.help {
			h5 {
				margin-top: 0;
			}
		}
	}
}

