@import "./components/layout";

#dashboard {
  width: 600px;
  margin: 0 auto;
  max-width: 100%;

  .message {
    text-align:center;
    background-color:#deffde;
    padding:10px;
    font-size:13px;
  }
  dl {

    overflow:hidden;
    padding:5px;

    h4 {
      font-size:13px;
      padding-bottom:5px;
      border-bottom:1px solid #bfbfbf;
      // text-align:center;
      padding:50px 0 5px;
      clear:both;
      text-transform: uppercase;
      margin-bottom: 5px;
    }
    dt {
      float:left;
      width:25%;
      // text-align:right;
      clear:both;
      padding-right: 15px;
      padding-left:35px;
      line-height: 34px;
      // font-weight: bold;
      font-family: "Roboto", sans-serif;

      &.twoline {
        line-height: 1.25em;
        margin-top: 10px;
      }

    }
    dd {
      float:left;
      width:50%;
      // border-left: 1px solid #ddd;
      padding-left: 15px;

      & > p {
        padding-left:5px;
      }

      & > p:first-child {
        padding-top:1em;
      }
    }

    
    .changePassword {
      text-decoration: underline;
      cursor:pointer;
      &:hover {
        text-decoration: none;
      }
    }
    
    .hiddenPasswordChange {
      display:none;
    }
    
    input[type=text], input[type=password], select {
      margin: 2px;
      background-color: #ebebeb;
      border: 1px solid #ccc;
      width: 100%;
      padding: 0.75em;
      height: 30px;
    }
    select {
      padding:3px;
    }
  }
  .wrap {
    width:600px;
    margin:0 auto;
    max-width:100%;
  }

  .submit {
    padding-top:30px;
    // text-align:center;

    button {
      float:left;
      margin-right:20px;
    }

    .help {
      h5 {
        margin-top:0;
      }
    }
  }
}

.dashboard {
  &__items {
    &__item {
      max-width:1024px;
      margin:0 auto;
      &-title {
        border-bottom: 2px solid $mine-shaft;
        text-align: center;
        text-transform: uppercase;
        @extend %RubikMedium;
        padding: 10px 0;
        h4 {
          position: relative;
          display: inline-block;
          padding-right: 18px;
          // &::after {
          //   content: '';
          //   width: 0;
          //   height: 0;
          //   border-left: 6px solid transparent;
          //   border-right: 6px solid transparent;
          //   border-top: 6px solid $guardsman-red;
          //   position: absolute;
          //   top: 50%;
          //   transform: translateY(-60%);
          //   right: 0;
          // }
        }
      }
      &-content {
        padding: 25px 0 0;
      }
    }
    &-section {

      @include clearfix;
      &__content {

        .hidden {
          display: none;
        }
        //float: left;
        .icon--container {
          width: auto;
        }
        h3 {
          @include font-size(26, initial, 20);
          @extend %RubikBold;
        }
        h5 {
          @include font-size(14, initial, 20);
          @extend %RubikMedium;
          margin-top:10px;
        }
        strong {
          @extend %RubikMedium;
          margin-top: 20px;
          display: inline-block;
          margin-bottom: 5px;
          font-size:11px;
        }
        p {
          font-size:11px;
          line-height: 16px;
        }
        .field {
          margin-top: 20px;
          label {
            display: block;
            @include font-size(12, initial, 40);
            margin-bottom: 10px;
          }
          input {
            border: 0 none;
            background-color: $gallery;
            padding: 14px 15px 13px;
            color: $mine-shaft;
            @extend %RubikMedium;
            @include font-size(10, initial, 60);
            text-transform: uppercase;
            width: 315px;
            display: inline-block;
            vertical-align: top;
            height: 100%;
          }
        }
        select {
          display: block;
          width: 315px;
          margin-top: 10px;
        }
        &:nth-child(2) {
          float: right;
        }
      }
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0 none;
        font-size:14px;
      }
    }
  }
}

.locationsContainer  {


  h1 {
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid $dove-gray;
    text-transform: uppercase;
    width:640px;
    margin :0 auto;
  }

  #map {
    width:600px;
    height:450px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .locations {
    width: 765px;
    margin: 0 auto;

    .subtext {
      margin: 2rem 0;
      font-weight:bold;
      font-size:14px;
    }

    .warehouse {
        position: relative;
        border: 2px solid $silver;
        padding: 1rem;
        margin: .3rem 0;
        width: 247px;
        display: inline-block;
        margin-right: 1%;
        overflow: hidden;
        min-height: 180px;
        p.number {
            position: absolute;
            top: 0.1rem;
            right: 0.5rem;
            color:white;
            background-color: $guardsman-red;
            border-radius: 50%;
            border: 2px solid $guardsman-red;
            width: 1.75rem;
            height: 1.75rem;
            text-align: center;
            font-size: 11px;
            line-height: 1.5rem;
        }
        h2 {
          // @include f-title()
          text-transform: uppercase;
          font-weight:500;
        }
        p {
          margin: 0.5rem 0;
          font-size:11px;
        }
    }
    .selected {
      border: 2px solid $guardsman-red;
    }

  }
}

.commentFormContainer {
  padding-top: 1rem;
  width:800px;
  margin: 0 auto;

  h1{
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 2rem;
    border-bottom: 1px solid #666666;
    text-transform: uppercase;
  }
  form{
    width: 70%;
    margin: 0 auto;
    input, select {
      display: block;
      width: 100%;
      margin:0 0 1rem 0;
      padding: 0.5rem;
    }
    input {
      @include font-size( 10, 12, 0 );
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.6px;
      background-color: #ebebeb;
      border: 1px solid $silver;
      color: $mine-shaft;
      height:32px;
      font-weight:500;
      @extend %RubikMedium;

    } //(type='hidden' name='action' value='password')
    select{  //(name='salesRep')
      border: solid thin $mine-shaft;
      height: 2rem;
      option{}  //(value='1') Ken Tija
    }
    p {
      color:$silver;
    }
    input[type='submit'] {
      @include font-size( 10, 12, 0 );
      background-color: $guardsman-red;
      color: $white;
      padding:8px 20px;
      margin: 1rem 0;
      width:auto;
    }
    .submit {
      width:83px;
      height:32px;
    }

    textarea {
      border: thin solid $silver;
      margin-top: 0.5rem;
      width: 100%;
      min-height:200px;
    }

  }

  .contactResult {
    min-height: 277px;
    span {
      font-weight:bold;
      font-size:23px;
      font-family: "Rubik Medium", sans-serif;
    }
    p{
      max-width: 70%;
      margin: 0 auto;
      text-align: center;
      line-height:20px;
      font-size:14px;
      margin-bottom:1rem;
    }
    .result-message {
      width:50%;
    }
    form {
      .create-new-message {
        width:165px;
        height:32px;
        margin:0 auto;
        padding: 9px;
      }
    }
  }
}
.order {
  .orderHeader {
    @include font-size(20, initial, 20);

    h4 {
      text-transform: uppercase;
    }
  }
  .location {
    width:100%;
    overflow: hidden;
    margin: 0.5em 0;
    border-top: thin solid lightgrey;
    padding: 2em 0;
    .left {
      float: left;
      width:30%;
      padding: 0 2em 0 0;
      min-height: 3em;
      .orderPO {
        @include font-size(14, initial, 20);
        width: 100%;
        background-color: $gallery;
        padding: 1.5em 0.5em;
        strong {
          margin: 0;
        }
      }
    }
    .locationDetails {
      @include font-size(14, initial, -40);
      float: left;
      width:70%;
      strong {
        margin:0;
      }
      .shippingFrom{
        width:50%;
        margin: 0 0 1em;
        overflow:hidden;
        float:left;
        strong {
          text-transform: uppercase;
        }

        .shippingMethod {

            p:first-child {
              font-weight:500;
              text-transform: uppercase;
            }
        }

      }
      .items {
        .item {
          width: 100%;
          overflow: hidden;
          margin: 0 0 1em;
          .itemInfo {
            float: left;
            width: 50%;
            overflow: hidden;
            .img {
              float: left;
              width:15%;
              img {
                width: 100%;
              }
            }
            .info {
              float: left;
              width:85%;
              padding: 0 1em;

              .strong {
                color: $guardsman-red;
                font-weight:500;
                text-transform: uppercase;
              }
            }
          }
          .shippingMethod{
            float: left;
            width:40%;

            .strong {
              text-transform: uppercase;
              font-weight:500;
            }
            p {
              text-transform: uppercase;
              .status {
                font-weight:500;
              }
              .shipped {
                color:green;
              }
              .pending {
                color:$guardsman-red;
              }
              .trackingLink {
                color:$guardsman-red;
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}
