<section class="cart">
  {{> cart-submit }}
  <table class="cart__list">
    <thead>
      <tr>
        <th>Shopping Cart</th>
        <th>Quantity</th>
        <th>Shipping From</th>
      </tr>
    </thead>
    <tbody>
      <tr class="location">
        <td>
          <div class="product">
            <div class="image">
              <img src="./media/img/product-one.png" alt="" />
            </div>
            <div class="info">
              <a href="#">141 Legend S</a>
              <p>Cust SKU # 0111111789</p>
              <p>VW SKU # 123456789</p>
              <p>Size: 15X7</p>
              <p>Finish: Chrome</p>
              <a href="#" class="delete">Delete</a>
            </div>
          </div>
        </td>
        <td>
          <div class="quantity">
            <span>Avail <span class="avail-count">126</span></san>
            <input type="text" name="qty" value="30" />
          </div>
        </td>
        <td>
          <p>Vision Wheel US -</p>
          <p>Florida Division</p>
          <p>5995 SW 6th Place</p>
          <p>Oscala, FL 34474</p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="product">
            <div class="image">
              <img src="./media/img/product-two.png" alt="" />
            </div>
            <div class="info">
              <a href="#">168 AutoBahn</a>
              <p>Cust SKU # 0111111789</p>
              <p>VW SKU # 123456789</p>
              <p>Size: 20X8</p>
              <p>Finish: Matte Black</p>
              <a href="#" class="delete">Delete</a>
            </div>
          </div>
        </td>
        <td>
          <div class="quantity">
            <span>Avail <span class="avail-count">106</span></san>
            <input type="text" name="qty" value="10" />
          </div>
        </td>
        <td></td>
      </tr>
      <tr>
        <td>
          <div class="product">
            <div class="image">
              <img src="./media/img/product-three.png" alt="" />
            </div>
            <div class="info">
              <a href="#">181 Hauler Duallie</a>
              <p>Cust SKU # 0111111789</p>
              <p>VW SKU # 123456789</p>
              <p>Size: 16X6</p>
              <p>Finish: Chrome</p>
              <a href="#" class="delete">Delete</a>
            </div>
          </div>
        </td>
        <td>
          <div class="quantity">
            <span>Avail <span class="avail-count">86</span></san>
            <input type="text" name="qty" value="4" />
          </div>
        </td>
        <td></td>
      </tr>
      <tr class="location">
        <td>
          <div class="product">
            <div class="image">
              <img src="./media/img/product-four.png" alt="" />
            </div>
            <div class="info">
              <a href="#">521 Vision</a>
              <p>Cust SKU # 0111111789</p>
              <p>VW SKU # 123456789</p>
              <p>Size: 16X6</p>
              <p>Finish: Matte Black</p>
              <a href="#" class="delete">Delete</a>
            </div>
          </div>
        </td>
        <td>
          <div class="quantity">
            <span>Avail <span class="avail-count">66</span></san>
            <input type="text" name="qty" value="4" />
          </div>
        </td>
        <td>
          <p>Vision Wheel US -</p>
          <p>Chicagoland Division</p>
          <p>6675 Daniel Burnham Dr Suite C</p>
          <p>Portage, IN 46368</p>
        </td>
      </tr>
    </tbody>
  </table>
  {{> cart-submit }}
</section>
