<div class="checkout__steps__step checkout__steps__step--pon">
  <div class="checkout__steps__step-title">
    <h3>Enter purchase order number to proceed to checkout</h3>
  </div>
  <div class="checkout__steps__step-content">
    <input type="text" value="" placeholder="Purchase Order Number" name="pon" class="pon" />
    <p>Please create a 10 digit (all numeric) number. All PO Numbers must begin with a 45 or 47.</p>
  </div>
</div>
<div class="checkout__steps__step checkout__steps__step--shipping-address">
  <div class="checkout__steps__step-title">
    <h3>Shipping Address</h3>
  </div>
  <div class="checkout__steps__step-content">
    <div class="split">
      <div class="split__half">
        <p>Store Number: 123456</p>
        <p>Tim Wiley</p>
        <p>2850 E Franklin Blvd</p>
        <p>Gastonia, NC 28056-7261</p>
      </div>
      <div class="split__half">
        <a href="#" class="change">Change</a>
      </div>
    </div>
  </div>
</div>
<div class="checkout__steps__step checkout__steps__step--shipping-methods">
  <div class="checkout__steps__step-title">
    <h3>Review Items and Shipping Methods</h3>
  </div>
  <div class="checkout__steps__step-content">
    <div class="location">
      <div class="location__info products">
        <div class="products__product">
          <div class="image">
            <img src="./media/img/product-one.png" alt="" />
          </div>
          <div class="info">
            <strong>141 Legend S</strong>
            <p>Cust SKU # 0111111789</p>
            <p>VW SKU # 123456789</p>
            <p>Size: 15X7</p>
            <p>Finish: Chrome</p>
            <div class="quantity">
              <label>Quantity:</label>
              <span>Avail <span class="avail-count">126</span></san>
              <input type="text" name="qty" value="30" />
            </div>
            <a href="#" class="delete">Delete</a>
          </div>
        </div>
        <div class="products__product">
          <div class="image">
            <img src="./media/img/product-two.png" alt="" />
          </div>
          <div class="info">
            <strong>168 AutoBahn</strong>
            <p>Cust SKU # 0111111789</p>
            <p>VW SKU # 123456789</p>
            <p>Size: 20X8</p>
            <p>Finish: Matt Black</p>
            <div class="quantity">
              <label>Quantity:</label>
              <span>Avail <span class="avail-count">106</span></san>
              <input type="text" name="qty" value="10" />
            </div>
            <a href="#" class="delete">Delete</a>
          </div>
        </div>
        <div class="products__product">
          <div class="image">
            <img src="./media/img/product-three.png" alt="" />
          </div>
          <div class="info">
            <strong>181 Hauler Duallie</strong>
            <p>Cust SKU # 0111111789</p>
            <p>VW SKU # 123456789</p>
            <p>Size: 16X6</p>
            <p>Finish: Chrome</p>
            <div class="quantity">
              <label>Quantity:</label>
              <span>Avail <span class="avail-count">86</span></san>
              <input type="text" name="qty" value="4" />
            </div>
            <a href="#" class="delete">Delete</a>
          </div>
        </div>
      </div>
      <div class="location__info shipping-from">
        <strong>Shipping from:</strong>
        <p>Vision Wheel US -</p>
        <p>Florida Division</p>
        <p>5995 SW 6th Place</p>
        <p>Oscala, FL 34474</p>
      </div>
      <div class="location__info delivery-options">
        <p><strong>Choose your delivery option:</strong></p>
        <div class="delivery-options__option">
          <label>
            <input type="radio" name="opt-one" value="" />
            <span><strong>Truck Route Options</strong><br />FL, GA, and NC - Same Day-2 Day:<br />Click <a href="#">here</a> to view locations<br />and hours</span>
          </label>
        </div>
      </div>
    </div>
    <div class="location">
      <div class="location__info products">
        <div class="products__product">
          <div class="image">
            <img src="./media/img/product-four.png" alt="" />
          </div>
          <div class="info">
            <strong>321 Nitro</strong>
            <p>Cust SKU # 0111111789</p>
            <p>VW SKU # 123456789</p>
            <p>Size: 15X7</p>
            <p>Finish: Gloss Black</p>
            <p>Machined Lip</p>
            <div class="quantity">
              <label>Quantity:</label>
              <span>Avail <span class="avail-count">126</span></san>
              <input type="text" name="qty" value="4" />
            </div>
            <a href="#" class="delete">Delete</a>
          </div>
        </div>
      </div>
      <div class="location__info shipping-from">
        <strong>Shipping from:</strong>
        <p>Vision Wheel US -</p>
        <p>Chicagoland Division</p>
        <p>6675 Daniel Burnham</p>
        <p>Dr Suite C</p>
        <p>Portage, IN 46368</p>
      </div>
      <div class="location__info delivery-options">
        <p><strong>Choose your delivery option:</strong></p>
        <div class="delivery-options__option">
          <label>
            <input type="radio" name="opt-one" value="" />
            <span><strong>Expedited Shipping*</strong><br />Overnight</span>
          </label>
        </div>
        <div class="delivery-options__option">
          <label>
            <input type="radio" name="opt-one" value="" />
            <span>2 Day</span>
          </label>
        </div>
        <div class="delivery-options__option">
          <label>
            <input type="radio" name="opt-one" value="" />
            <span><strong>Truck Route Options</strong><br />TX - Same Dat (in state):<br />Click <a href="#">here</a> to view locations<br />and hours</span>
          </label>
        </div>
        <div class="delivery-options__option">
          <label>
            <input type="radio" name="opt-one" value="" />
            <span><strong>Standard Ground Shipping</strong><br />(3-6 Business Days)</span>
          </label>
        </div>
        <div class="delivery-options__option">
          <label>
            <span><strong>LTL Shipping*</strong><br />*Please Note: By selecting LTL. Same Day Delivery, and/or Expedited Shipping as your method of delivery you agree that freight charges will automatically be applied to your overall totals.</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
