<div class="confirmation__message">
  <h3><strong>Thanks for ordering!</strong></h3>
  <h3>Your order was sent to Vision Wheel.</h3>
  <p>Look out for a detailed email with additional information about your order.</p>
  <h6><strong>Your Purchase Order Number: <a href="#">0001-SB</a></strong></h6>
  <h6><strong>Web Order Number: <a href="#">000012345</a></strong></h6>
</div>
