<div class="dashboard__items__item dashboard__items__item--profile">
  <div class="dashboard__items__item-title">
    <h4>Dealer Profile</h4>
  </div>
  <div class="dashboard__items__item-content">
    <section class="dashboard__items-section dashboard__items-section--address">
      <div class="dashboard__items-section__content">
        <h3>Tim Wiley</h3>
        <h5>Franklin Sq</h5>
        <strong>Shipping & Billing Address</strong>
        <p>Store ID Number: 123456</p>
        <p>2850 E Franklin Blvd</p>
        <p>Gastonia, North Carolina 28056-7261</p>
        <strong>Phone Number</strong>
        <p>(219) 781-5256</p>
      </div>
      <div class="dashboard__items-section__content">
        <div class="icon--container"><i class="icon icon--checkmark"></i></div>
        <div class="cta--container"><a href="#" class="cta cta--inline">Change</a></div>
      </div>
    </section>
    <section class="dashboard__items-section dashboard__items-section--defalut-location">
      <div class="dashboard__items-section__content">
        <strong>Default Warehouse Location</strong>
        <p>Vision Wheel US – Florida Division</p>
        <p>5995 SW 6th Place Ocala, FL 34474</p>
      </div>
      <div class="dashboard__items-section__content">
        <div class="cta--container"><a href="#" class="cta cta--inline">Change</a></div>
      </div>
    </section>
    <section class="dashboard__items-section dashboard__items-section--user">
      <div class="dashboard__items-section__content">
        <strong>Email</strong>
        <p>AZC_01@discounttire.com</p>
        <div class="fields">
          <h5>Change your password</h5>
          <div class="field field--password">
            <label>Please enter your 6 alphanumeric passowrd</label>
            <input type="text" value="" name="password" placeholder="Password" />
          </div>
          <div class="field field--new-password">
            <label>Please enter your new password (Password must be 6 characters, all caps, and alpanumeric)</label>
            <input type="text" value="" name="new_password" placeholder="New Password" />
          </div>
          <div class="field field--confirm-password">
            <input type="text" value="" name="confirm_password" placeholder="Confirm Password" />
          </div>
          <div class="field field--submit">
            <button type="submit" class="cta cta--button">Save</submit>
          </div>
        </div>
      </div>
    </section>
    <section class="dashboard__items-section dashboard__items-section--sales-rep">
      <div class="dashboard__items-section__content">
        <div class="sales-rep">
          <label>Current Vision Wheel Sales Representitive</label>
          <select>
            <option name="">Ken Tjia</option>
          </select>
        </div>
      </div>
    </section>
    <section class="dashboard__items-section dashboard__items-section--sales-support">
      <div class="dashboard__items-section__content">
        <h5>Need Help?</h5>
        <p>Please call 1-800-XXX-XXXX</p>
      </div>
    </section>
  </div>
</div>
