<section class="filters__filter filters__filter--active">
  <label class="filters__filter-label">Wharehouse Inventory</label>
  <div class="filters__filter-content">
    <fieldset>
      <label>Select a warehouse location to see products in-stock now</label>
      <div class="fields">
        <div class="field field--location field--show-all">
          <label><input type="radio" value="show_all" name="location" /> Show All</label>
        </div>
        <div class="field field--location">
          <label><input type="radio" value="ocala_florida" name="location" /> Ocala, Florida</label>
        </div>
        <div class="field field--location">
          <label><input type="radio" value="atlanta_georgia" name="location" /> Atlanta, Georgia</label>
        </div>
        <div class="field field--location">
          <label><input type="radio" value="charlotte_north_carolina" name="location" /> Charlotte, North Carolina</label>
        </div>
        <div class="field field--location">
          <label><input type="radio" value="decatur_alabama" name="location" /> Decatur, Alabama</label>
        </div>
        <div class="field field--location">
          <label><input type="radio" value="corona_california" name="location" /> Corona, California</label>
        </div>
        <div class="field field--location">
          <label><input type="radio" value="portage_indiana" name="location" /> Portage, Indiana</label>
        </div>
        <div class="field field--location">
          <label><input type="radio" value="coppel_texas" name="location" /> Coppel, Texas</label>
        </div>
      </div>
    </fieldset>
  </div>
</section>
<section class="filters__filter">
  <label class="filters__filter-label">Categories</label>
  <div class="filters__filter-content">
    <div class="fields">
      <div class="field field--categories">
        <label><input type="radio" value="wheels" name="categories" /> Wheels (XXX)</label>
      </div>
      <div class="field field--categories">
        <label><input type="radio" value="tires" name="categories" /> Tires (XXX)</label>
      </div>
      <div class="field field--categories">
        <label><input type="radio" value="accessories" name="categories" /> Accessories (XXX)</label>
      </div>
    </div>
  </div>
</section>
<section class="filters__filter">
  <label class="filters__filter-label">Specifications</label>
  <div class="filters__filter-content">
    <div class="fields--group">
      <div class="fields__group fields__group--brand-type fields__group--active">
        <label class="fields__group-label">Brand/Type</label>
        <div class="fields__group-content">
          <fieldset>
            <div class="fields">
              <div class="field field--brand-type">
                <label><input type="checkbox" value="american_muscle" name="american_muscle" /> American Muscle (XXX)</label>
              </div>
              <div class="field field--brand-type">
                <label><input type="checkbox" value="hurst_sheel" name="hurst_sheel" /> Hurst Wheel (XXX)</label>
              </div>
              <div class="field field--brand-type">
                <label><input type="checkbox" value="milanni" name="milanni" /> Milanni (XXX)</label>
              </div>
              <div class="field field--brand-type">
                <label><input type="checkbox" value="sports_concepts" name="sports_concepts" /> Sports Concepts (XXX)</label>
              </div>
              <div class="field field--brand-type">
                <label><input type="checkbox" value="vision_hd" name="vision_hd" /> Vision HD (XXX)</label>
              </div>
              <div class="field field--brand-type">
                <label><input type="checkbox" value="vision_off_road" name="vision_off_road" /> Vision Off-Road (XXX)</label>
              </div>
              <div class="field field--brand-type">
                <label><input type="checkbox" value="vision_utv_atv_Golf" name="vision_utv_atv_Golf" /> Vision UTV/ATV/GOLF (XXX)</label>
              </div>
              <div class="field field--brand-type">
                <label><input type="checkbox" value="vision_wheel" name="vision_wheel" /> Vision Wheel (XXX)</label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="fields__group fields__group--bolt-pattern">
        <label class="fields__group-label">Bolt Pattern</label>
        <div class="fields__group-content">
          <fieldset>
            <div class="fields">
              <div class="field field--bolt-pattern">
                <label><input type="checkbox" value="4_100" name="4_100" /> 4-100 (XXX)</label>
              </div>
              <div class="field field--bolt-pattern">
                <label><input type="checkbox" value="4_110" name="4_110" /> 4-110 (XXX)</label>
              </div>
              <div class="field field--bolt-pattern">
                <label><input type="checkbox" value="4_115" name="4_115" /> 4-115 (XXX)</label>
              </div>
              <div class="field field--bolt-pattern">
                <label><input type="checkbox" value="4_136" name="4_136" /> 4-136 (XXX)</label>
              </div>
              <div class="field field--bolt-pattern">
                <label><input type="checkbox" value="4_136.5" name="4_136.5" /> 4-136.5 (XXX)</label>
              </div>
              <div class="field field--bolt-pattern">
                <label><input type="checkbox" value="4_156" name="4_156" /> 4-156 (XXX)</label>
              </div>
              <div class="field field--bolt-pattern">
                <label><input type="checkbox" value="5_100" name="5_100" /> 5-100 (XXX)</label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="fields__group fields__group--diameter">
        <label class="fields__group-label">Diameter</label>
        <div class="fields__group-content">
          <fieldset>
            <div class="fields">
              <div class="field field--diameter">
                <label><input type="checkbox" value="0" name="0" /> 0 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="1" name="1" /> 1 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="2" name="2" /> 2 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="3" name="3" /> 3 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="4" name="4" /> 4 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="5" name="5" /> 5 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="6" name="6" /> 6 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="7" name="7" /> 7 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="8" name="8" /> 8 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="9" name="9" /> 9 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="10" name="10" /> 10 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="11" name="11" /> 11 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="12" name="12" /> 12 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="13" name="13" /> 13 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="14" name="14" /> 14 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="15" name="15" /> 15 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="16" name="16" /> 16 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="17" name="17" /> 17 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="18" name="18" /> 18 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="19" name="19" /> 19 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="20" name="20" /> 20 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="21" name="21" /> 21 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="22" name="22" /> 22 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="23" name="23" /> 23 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="24" name="24" /> 24 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="25" name="25" /> 25 (XXX)</label>
              </div>
              <div class="field field--diameter">
                <label><input type="checkbox" value="26" name="26" /> 26 (XXX)</label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="fields__group fields__group--width">
        <label class="fields__group-label">Width</label>
        <div class="fields__group-content">
          <fieldset>
            <div class="fields">
              <div class="field field--width">
                <label><input type="checkbox" value="0" name="0" /> 0 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="0.5" name="0.5" /> 0.5 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="1" name="1" /> 1 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="1.5" name="1.5" /> 1.5 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="2" name="2" /> 2 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="2.5" name="2.5" /> 2.5 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="3" name="3" /> 3 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="3.5" name="3.5" /> 3.5 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="4" name="4" /> 4 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="4.5" name="4.5" /> 4.5 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="5" name="5" /> 5 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="5.5" name="5.5" /> 5.5 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="6" name="6" /> 6 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="6.5" name="6.5" /> 6.5 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="7" name="7" /> 7 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="7.5" name="7.5" /> 7.5 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="8" name="8" /> 8 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="8.5" name="8.5" /> 8.5 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="9" name="9" /> 9 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="9.5" name="9.5" /> 9.5 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="10" name="10" /> 10 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="10.5" name="10.5" /> 10.5 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="11" name="11" /> 11 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="1.5" name="11.5" /> 11.5 (XXX)</label>
              </div>
              <div class="field field--width">
                <label><input type="checkbox" value="12" name="12" /> 12 (XXX)</label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="fields__group fields__group--finish">
        <label class="fields__group-label">Finish</label>
        <div class="fields__group-content">
          <fieldset>
            <div class="fields">
              <div class="field field--finish">
                <label><input type="checkbox" value="-233" name="-233" /> Chrome (XXX)</label>
              </div>
              <div class="field field--finish">
                <label><input type="checkbox" value="-233" name="-233" /> Painted (XXX)</label>
              </div>
              <div class="field field--finish">
                <label><input type="checkbox" value="-233" name="-233" /> Painted/Machined (XXX)</label>
              </div>
              <div class="field field--finish">
                <label><input type="checkbox" value="-233" name="-233" /> Polished (XXX)</label>
              </div>
              <div class="field field--finish">
                <label><input type="checkbox" value="-233" name="-233" /> Unfinished (XXX)</label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="fields__group fields__group--offset">
        <label class="fields__group-label">Offset</label>
        <div class="fields__group-content">
          <fieldset>
            <div class="fields">
              <div class="field field--offset">
                <label><input type="checkbox" value="-233" name="-233" /> -233 (XXX)</label>
              </div>
              <div class="field field--offset">
                <label><input type="checkbox" value="-168" name="-168" /> -168 (XXX)</label>
              </div>
              <div class="field field--offset">
                <label><input type="checkbox" value="-143.35" name="-143.35" /> -143.35 (XXX)</label>
              </div>
              <div class="field field--offset">
                <label><input type="checkbox" value="-143" name="-143" /> -143 (XXX)</label>
              </div>
              <div class="field field--offset">
                <label><input type="checkbox" value="-137" name="-137" /> -137 (XXX)</label>
              </div>
              <div class="field field--offset">
                <label><input type="checkbox" value="-61" name="-61" /> -61 (XXX)</label>
              </div>
              <div class="field field--offset">
                <label><input type="checkbox" value="-51" name="-51" /> -51 (XXX)</label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="fields__group fields__group--backspace">
        <label class="fields__group-label">Backspace</label>
        <div class="fields__group-content">
          <fieldset>
            <div class="fields">
              <div class="field field--backspace">
                <label><input type="checkbox" value="-4.15" name="-4.15" /> -4.15 (XXX)</label>
              </div>
              <div class="field field--backspace">
                <label><input type="checkbox" value="-2" name="-2" /> -2 (XXX)</label>
              </div>
              <div class="field field--backspace">
                <label><input type="checkbox" value="-1.9" name="-1.9" /> -1.9 (XXX)</label>
              </div>
              <div class="field field--backspace">
                <label><input type="checkbox" value="-1.75" name="-1.75" /> -1.75 (XXX)</label>
              </div>
              <div class="field field--backspace">
                <label><input type="checkbox" value="-1.5" name="-1.5" /> -1.5 (XXX)</label>
              </div>
              <div class="field field--backspace">
                <label><input type="checkbox" value="1.75" name="1.75" /> 1.75 (XXX)</label>
              </div>
              <div class="field field--backspace">
                <label><input type="checkbox" value="2" name="2" /> 2 (XXX)</label>
              </div>
              <div class="field field--backspace">
                <label><input type="checkbox" value="4.15" name="4.15" /> 4.15 (XXX)</label>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</section>
