<div class="filters">
  <div class="filters__description">
    <p>Looking for something specific? Start here to refine your search and narrow it down to the results you want.</p>
  </div>
  <label class="filters__label">Filter Results By: <a href="#" class="clear-all">Clear All</a></label>
  <div class="filters--wrapper">
    <form>
      {{> filters-filter }}
    </form>
  </div>
</div>
