<footer class="footer">
  <div class="footer__menu">
    <nav class="footer__menu-links">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Manage/Edit Your Account</a></li>
        <li><a href="#">Order History</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Locations</a></li>
      </ul>
    </nav>
    {{> logo white="true" }}
  </div>
  <div class="footer__support">
    <nav class="footer__support-links">
      <ul>
        <li>Wheels</li>
        <li><a href="#">Milanni</a></li>
        <li><a href="#">American Muscle</a></li>
        <li><a href="#">Vision Wheel</a></li>
        <li><a href="#">Vision HD</a></li>
        <li><a href="#">Visin ATV/Golf</a></li>
        <li><a href="#">Sport Concepts</a></li>
        <li><a href="#">Vision Off-Road</a></li>
      </ul>
      <ul>
        <li>Tires</li>
        <li><a href="#">ATV</a></li>
        <li><a href="#">Golf</a></li>
        <li><a href="#">L&G</a></li>
        <li><a href="#">Trailer</a></li>
      </ul>
      <ul>
        <li>Accessories</li>
        <li><a href="#">Caps</a></li>
        <li><a href="#">Hub Covers</a></li>
        <li><a href="#">Installation Kits and Washers</a></li>
        <li><a href="#">Lug Nuts and Locks</a></li>
        <li><a href="#">Rallye</a></li>
        <li><a href="#">Rings</a></li>
        <li><a href="#">Valve Stems and Spacers</a></li>
      </ul>
    </nav>
    <div class="footer__support-extra">
      <div class="footer__contact-info">
        <p><strong>Available Support</strong> 1-(800)-123-4567</p>
      </div>
      {{> social }}
      <div class="footer__copyright">
        <p>&copy; 2017 Vision Wheel Inc. All Rights Reserved.</p>
      </div>
    </div>
  </div>
</footer>
