<header class="header">
  <nav class="header__nav">
    <ul class="header__menu">
      <li><a href="#">Home</a></li>
      <li class="sub-menu">
        <a href="#">Wheels</a>
        <ul>
          <li><a href="#">Milanni</a></li>
          <li><a href="#">Hurst</a></li>
          <li><a href="#">American Muscle</a></li>
          <li><a href="#">Vision Wheel</a></li>
          <li><a href="#">Vision HD</a></li>
          <li><a href="#">Vision ATV/GOLF</a></li>
          <li><a href="#">Sport Concepts</a></li>
          <li><a href="#">Vision Off-Road</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="#">Tires</a>
        <ul>
          <li><a href="#">ATV</a></li>
          <li><a href="#">GOLF</a></li>
          <li><a href="#">L&G</a></li>
          <li><a href="#">Trailer</a></li>
        </ul>
      </li>
      <li class="sub-menu">
        <a href="#">Accessories</a>
        <ul>
          <li><a href="#">Caps</a></li>
          <li><a href="#">Hub Rings</a></li>
        </ul>
      </li>
    </ul>
    <ul class="header__menu">
      <li class="my-account"><a href="#">My Account</a></li>
      <li><a href="#">Order History</a></li>
      <li><a href="#">Locations</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">Log Out</a></li>
    </ul>
  </nav>
  <div class="header__utility">
    {{> logo }}
    <div class="header__search">
      <div class="header__search-input">
        <input type="text" value="" placeholder="Enter Brand, Style/Model or Your SKU Number" />
        <button type="submit" class="cta cta--button">Search</button>
      </div>
      <div class="header__cart">
        <div class="header__cart-quantity">
          <span class="header__cart-quantity__count">48</span>
        </div>
        <div class="header__cart-link">
          <a href="#">Checkout</a>
        </div>
      </div>
    </div>
  </div>
</header>
