<div class="login__form">
  <div class="login__form__title">
    <h1>Dealer Login</h1>
  </div>
  <div class="login__form__fields">
    <div class="login__form__fields-field">
      <input type="text" value="" placeholder="Username/Email" />
    </div>
    <div class="login__form__fields-field">
      <input type="text" value="" placeholder="Password" />
    </div>
  </div>
  <div class="login__form__helper">
    <p><a href="#">Forgot Password</a> <a href="#">Forgot Username</a></p>
  </div>
  <div class="login__form__submit">
    <button type="submit" class="cta cta--button">Submit</submit>
  </div>
</div>
