<div class="login__form">
  <div class="login__form__title">
    <h1>Forgot User Name</h1>
  </div>
  <div class="login__form__fields">
    <div class="login__form__fields-field">
      <label>Please enter your associated email with your account</label>
      <input type="email" value="" placeholder="Enter Your Personal Email" />
    </div>
  </div>
  <div class="login__form__submit">
    <button type="submit" class="cta cta--button">Submit</submit>
  </div>
</div>
