<div class="modal" style="display: none;" id="modal-one">
  <div class="modal--wrapper">
    <div class="modal__container">
      <div class="modal__close"><span>Close</span></div>
      <div class="modal__content">
        <div class="popular-wheel popular-wheel--hurst">
          <div class="half">
            <div class="image">
              <img src="./media/img/modal-image.jpg" alt="" />
            </div>
            <div class="product-info">
              <img src="./media/img/hurst-logo.png" alt="" />
              <p>Matte Black<br />Cust SKU #: 0111111789<br />VW SKU #: 123456789</p>
              <p>Best known for developing industry-leading shifters, Hurst also offers an increasingly wide range of performance products.</p>
              <strong>SPECS:</strong>
              <ul>
                <li>Diameter - 15</li>
                <li>Width - 10</li>
                <li>Bolt Pattern 1 - 5-4.5 (5-114.3)</li>
                <li>Bolt Pattern 2 - N/A</li>
                <li>Backspace - 3.75</li>
                <li>Offset - (-19)</li>
                <li>Cap/Bore/Load - C141-T-V/83/2100</li>
              </ul>
              <strong>ITEM NOTE:</strong>
              <p>WARNING: Applications MUST be checked for interference with brake parts when using aftermarket lug bolts.</p>
            </div>
          </div>
          <div class="half">
            <p>This product is available at these warehouses.</p>
            <div class="warehouses">
              <form>
                <div class="fields">
                  <div class="field field--warehosues">
                    <label><input type="checkbox" value="" name="" /> Ocata, Florida: Inventory - 126</label>
                    <div class="quantity">
                      <label>QTY: <input type="number" value="" name="" /></label>
                    </div>
                  </div>
                  <div class="field field--warehosues">
                    <label><input type="checkbox" value="" name="" /> Corona, California: Inventory - 46</label>
                    <div class="quantity">
                      <label>QTY: <input type="number" value="" name="" /></label>
                    </div>
                  </div>
                  <div class="field field--warehosues">
                    <label><input type="checkbox" value="" name="" /> Atlanta, Georgia: Inventory - 106</label>
                    <div class="quantity">
                      <label>QTY: <input type="number" value="" name="" /></label>
                    </div>
                  </div>
                  <div class="field field--warehosues">
                    <label><input type="checkbox" value="" name="" /> Portage, Indiana: Inventory - 26</label>
                    <div class="quantity">
                      <label>QTY: <input type="number" value="" name="" /></label>
                    </div>
                  </div>
                  <div class="field field--warehosues">
                    <label><input type="checkbox" value="" name="" /> Charlotte, North Carolina: Inventory - 86</label>
                    <div class="quantity">
                      <label>QTY: <input type="number" value="" name="" /></label>
                    </div>
                  </div>
                  <div class="field field--warehosues">
                    <label><input type="checkbox" value="" name="" /> Coppell, Texas: Inventory - 6</label>
                    <div class="quantity">
                      <label>QTY: <input type="number" value="" name="" /></label>
                    </div>
                  </div>
                  <div class="field field--warehosues">
                    <label><input type="checkbox" value="" name="" /> Decatur, Alabama: Inventory - 66</label>
                    <div class="quantity">
                      <label>QTY: <input type="number" value="" name="" /></label>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
