<div class="featured-content__popular__items featured-content__popular__items--accessories">
  <div class="featured-content__popular__items-title">
    <h4>Most Popular Accessories</h4>
  </div>
  <ul class="popular">
    <li class="popular__item">
      <div class="image"><img src="./media/img/rings-accessories-popular.jpg" alt="" /></div>
      <ul>
        <li>Rings</li>
        <li><a href="#" rel="open:modal" data-modal="modal-one">Hub Centric Rings</a></li>
        <li>Cust SKU # 0111111789</li>
        <li>VW SKU # 123456789</li>
      </ul>
    </li>
    <li class="popular__item">
      <div class="image"><img src="./media/img/rallye-accessories-popular.jpg" alt="" /></div>
      <ul>
        <li>RALLYE</li>
        <li><a href="#" rel="open:modal" data-modal="modal-one">Rallye Derby Cap</a></li>
        <li>Cust SKU # 0111111789</li>
        <li>VW SKU # 123456789</li>
      </ul>
    </li>
    <li class="popular__item">
      <div class="image"><img src="./media/img/rallye-accessories-popular-2.jpg" alt="" /></div>
      <ul>
        <li>RALLYE</li>
        <li><a href="#" rel="open:modal" data-modal="modal-one">Rallye Spinner Cap</a></li>
        <li>Cust SKU # 0111111789</li>
        <li>VW SKU # 123456789</li>
      </ul>
    </li>
    <li class="popular__item">
      <div class="image"><img src="./media/img/lug-nut-accessories-popular.jpg" alt="" /></div>
      <ul>
        <li>Lug Nut</li>
        <li><a href="#" rel="open:modal" data-modal="modal-one">Duplex XXL</a></li>
        <li>Cust SKU # 0111111789</li>
        <li>VW SKU # 123456789</li>
      </ul>
    </li>
    <li class="popular__item">
      <div class="image"><img src="./media/img/lug-nut-accessories-popular-2.jpg" alt="" /></div>
      <ul>
        <li>Lug Nut</li>
        <li><a href="#" rel="open:modal" data-modal="modal-one">Open-End Bulge</a></li>
        <li>Cust SKU # 0111111789</li>
        <li>VW SKU # 123456789</li>
      </ul>
    </li>
  </ul>
</div>
