<div class="featured-content__popular__items featured-content__popular__items--tires">
  <div class="featured-content__popular__items-title">
    <h4>Most Popular Tires</h4>
  </div>
  <ul class="popular">
    <li class="popular__item">
      <div class="image"><img src="./media/img/atv-tires-popular.jpg" alt="" /></div>
      <ul>
        <li>ATV</li>
        <li><a href="#" rel="open:modal" data-modal="modal-one">P306</a></li>
        <li>Cust SKU # 0111111789</li>
        <li>VW SKU # 123456789</li>
      </ul>
    </li>
    <li class="popular__item">
      <div class="image"><img src="./media/img/golf-tires-popular.jpg" alt="" /></div>
      <ul>
        <li>GOLF</li>
        <li><a href="#" rel="open:modal" data-modal="modal-one">P3026</a></li>
        <li>Cust SKU # 0111111789</li>
        <li>VW SKU # 123456789</li>
      </ul>
    </li>
    <li class="popular__item">
      <div class="image"><img src="./media/img/l&g-tires-popular.jpg" alt="" /></div>
      <ul>
        <li>L&G</li>
        <li><a href="#" rel="open:modal" data-modal="modal-one">P3028</a></li>
        <li>Cust SKU # 0111111789</li>
        <li>VW SKU # 123456789</li>
      </ul>
    </li>
    <li class="popular__item">
      <div class="image"><img src="./media/img/trailer-tires-popular.jpg" alt="" /></div>
      <ul>
        <li>Trailer</li>
        <li><a href="#" rel="open:modal" data-modal="modal-one">P811</a></li>
        <li>Cust SKU # 0111111789</li>
        <li>VW SKU # 123456789</li>
      </ul>
    </li>
    <li class="popular__item">
      <div class="image"><img src="./media/img/trailer-tires-popular-2.jpg" alt="" /></div>
      <ul>
        <li>Trailer</li>
        <li><a href="#" rel="open:modal" data-modal="modal-one">P825</a></li>
        <li>Cust SKU # 0111111789</li>
        <li>VW SKU # 123456789</li>
      </ul>
    </li>
  </ul>
</div>
