<section class="search-results">
  <div class="search-results--wrapper">
    <h2 class="search-results__title">Search Results</h2>
    <div class="search-results__content">
      <table>
        {{> search-result }}
      </table>
    </div>
  </div>
</section>
