<tr class="search-results__result">
  <td>
    <table>
      <thead>
        <th>
          <div class="product-info">
            <div class="image">
              <img src="./media/img/hurst-wheel.jpg" alt="" />
            </div>
            <div class="text">
              <p>Hurst</p>
              <p><a href="#">HT324 Dazzler</a></p>
              <p>Matte Black</p>
            </div>
          </div>
        </th>
        <th>Diameter</th>
        <th>Width</th>
        <th>Bolt Pattern 1</th>
        <th>Bolt Pattern 2</th>
        <th>Backspace</th>
        <th>Offset</th>
        <th>Cap/Bore/Load</th>
        <th>Warehouse - Available Inventory</th>
        <th>QTY</th>
        <th>Add to Cart</th>
      </thead>
      <tbody>
        <tr>
          <td><a href="#">Cust SKU #01111111789</a> VW SKU # 1234567789</td>
          <td>15</td>
          <td>6.5</td>
          <td>4-100</td>
          <td>4.425(4-108)</td>
          <td>5.25</td>
          <td>38</td>
          <td>L168 MB-V/74.1/160</td>
          <td>
            <select>
              <option value="">Ocata, Florida - 126</option>
            </select>
          </td>
          <td>
            <input type="number" value="" name="qty" />
          </td>
          <td>
            <button type="submit" class="cta cta--button">Add</button>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
