<div class="social-links">
  <ul>
    <li class="social-links__link social-links__link--facebook"><a href="#">Facebook</a></li>
    <li class="social-links__link social-links__link--instagram"><a href="#">Instagram</a></li>
    <li class="social-links__link social-links__link--youtube"><a href="#">YouTube</a></li>
  </ul>
</div>
