.featured-content {
  &__popular {
    &__items {
      margin-bottom: 30px;
      &-title {
        @include font-size(16, initial, 20);
        margin-bottom: 30px;
        text-transform: uppercase;
      }
    }
    .popular {
      font-size: 0;
      display: flex;
      flex-direction: row;
      &__item {
        flex: 1;
        text-align: center;
        .image {
          height: 100px;
          line-height: 100px;
          margin-bottom: 15px;
        }
        img {
          max-width: 100px;
          max-height: 100px;
          width: auto;
          vertical-align: middle;
        }
        p, li {
          @include font-size(12, 16, 20);
        }
        a {
          text-decoration: underline;
        }
      }
    }
  }
}
