.filters {
  border: 1px solid $silver;
  padding: 15px;
  p {
    @include font-size(14, 18, 20);
  }
  &__description {
    border-bottom: 1px solid $silver;
    padding-bottom: 15px;
    margin-bottom: 30px;
  }
  &__label {
    text-transform: uppercase;
    @extend %RubikBold;
    display: block;
    @include clearfix;
    a {
      text-transform: capitalize;
      float: right;
    }
  }
  &__filter {
    &-label {
      text-transform: uppercase;
      @extend %RubikMedium;
      @include font-size(18, initial, 0);
      margin: 15px 0;
      display: block;
      border-top: 1px solid $silver;
      padding-top: 15px;
      position: relative;
      padding-left: 18px;
      cursor: pointer;
      &::after {
        content: '';
        width: 0;
        height: 0;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        border-top: 6px solid $guardsman-red;
        position: absolute;
        top: 60%;
        // transform: translateY(-50%);
        transform: rotate(-90deg);
        left: 0;
      }
    }
    &-content {
      display: none;
      > fieldset {
        margin-bottom: -16px;
      }
      fieldset {
        border: 1px solid $silver;
        padding: 15px;
        > label {
          margin-bottom: 15px;
          display: block;
          cursor: default;
        }
      }
      input {
        appearance: auto;
        border: 1px solid $silver;
        height: 15px;
        width: 15px;
        display: inline-block;
        margin-top: -2px;
        margin-right: 10px;
        vertical-align: middle;
        &[type="radio"] {
          border-radius: 50%;
        }
        &[name="qty"] {
          text-align: center;
          width: 40px;
          height: 20px;
          background-color: $white;
        }
        &:checked {
          background-color: $mailbu;
          border-color: $steel-blue;
          border-width: 2px;
        }
      }
    }
    &--active {
      .filters__filter-label {
        &::after {
          transform: none;
        }
      }
      .filters__filter-content {
        display: block;
      }
    }
    &:last-child {
      .filters__filter-label {
        border-bottom: 0 none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      .filters__filter-content {
        padding-top: 15px;
      }
    }
  }
}
.fields {
  .field {
    margin-bottom: 10px;
    &--show-all {
      border-bottom: 1px solid $silver;
      padding-bottom: 10px;
      margin-bottom: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }
    > label {
      cursor: pointer;
      + .quantity {
        float: right;
      }
    }
    .quantity {
      input {
        text-align: center;
        width: 40px;
        height: 20px;
      }
    }
  }
  &__group {
    &-label {
      margin: 15px 0;
      display: block;
      position: relative;
      padding-left: 18px;
      border-top: 1px solid $silver;
      padding-top: 15px;
      cursor: pointer;
      &::after {
        content: '';
        width: 0;
        height: 0;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-top: 5px solid $guardsman-red;
        position: absolute;
        top: 63%;
        // transform: translateY(-52%);
        transform: rotate(-90deg);
        left: 0;
      }
    }
    &-content {
      display: none;
    }
    &--active {
      .fields__group-label {
        &::after {
          transform: none;
        }
      }
      .fields__group-content {
        display: block;
      }
    }
    &:first-child {
      .fields__group-label {
        margin-top: 0;
      }
    }
    &:last-child {
      .fields__group-label {
        margin-bottom: 0;
      }
      .fields__group-content {
        padding-top: 15px;
      }
    }
  }
}
