.login {
  &__form {
    width: 50%;
    margin: 0 auto;
    &__title {
      text-transform: uppercase;
      @extend %RubikMedium;
      @include font-size(24, initial, 40);
      margin-bottom: 30px;
    }
    &__fields {
      text-align: left;
      label {
        color: $silver;
        margin-bottom: 10px;
        display: block;
      }
      input {
        height: 50px;
        width: 100%;
        background-color: $gallery;
        border: 0 none;
        padding: 10px 20px;
        color: $mine-shaft;
        margin-bottom: 20px;
      }
    }
    &__helper {
      text-align: left;
      margin-bottom: 20px;
      a {
        margin-right: 20px;
        color: $silver;
        text-decoration: underline;
      }
    }
    &__submit {
      text-align: left;
      button {
        text-transform: uppercase;
      }
    }
  }
}
