mixin userPricing(inputPrice)
    -let calced = parseFloat(inputPrice).toFixed(2);
    if !user.isDTCUser && inputPrice !== 0 && inputPrice !== NaN && inputPrice !== "NaN"
        span= "$" + calced

mixin dateformat(date)
    -
        var orderDate = new Date(date);
        var utc = orderDate.getTime() + (orderDate.getTimezoneOffset() * 60000);
        var offset = -5; //EST
        var d = new Date(utc+(3600000*offset));
    span=(d.getMonth()+1)+"/"+d.getDate()+"/"+d.getFullYear()
