extends ./templates/layout

block styles
	link( href="/css/login.css" rel="stylesheet" type="text/css" )

block main
	.content
		section.login
			.login__state.login__state--forgot
				- var classes = error ? ["has-error"] : []
				form( method="POST" action=`/reset-password/${ action }` class=classes ).login__form
					.login__form__title
						h1 Reset Password
						if error
							h2.error=error
						if success
							.alert
								h2="Password Reset!"
								a(href="/") Login
					.login__form__fields
						.login__form__fields-field
							input( name="password" type="password" placeholder="Please enter new password" )
						.login__form__fields-field
							input( name="confirm" type="password" placeholder="Please confirm new password" )
					.login__form__helper
						p
							a(href="/forgot-password") Forgot Password
							a(href="/forgot-username") Forgot Username
					.login__form__submit
						button(type="submit" class="cta cta--button") Submit
