doctype html
html
	head
		meta( charset="UTF-8" )
		meta( http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" )
		title Vision Wheel | Admin
		meta( name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" )

		link( href="/css/admin.css" rel="stylesheet" type="text/css" )
		block styles
	body
		div#wrapper
			header.primary
				h1 Vision Wheel Admin Console
				nav
					a(href='/') Orders
					a(href='/returns') Returns
					a(href='/products') Products
					a(href='/products/items') Items
					a(href='/products/photos') Photos
					a(href='/headerimage') Header Image
					a(href='/users') Users
					a(href='/dealers') Dealers
					a(href='/brands') Brands
			div#main
				if alert
					.alert=alert
				if err
					.error=err
				#contentContainer
					.header
						block header
				.primaryControlsContainer

					.primaryControls
						block primaryControls
				block main
			footer
		div#overlay
		block modals
		block scripts
		